Box .label {

}

.selectedSpeech {
    -fx-font-weight: bold;
}

.selectedRegion {
    -fx-background-color: lightblue !important;
}

.marked {
    -fx-background-color: yellow;
    -fx-border-color: black;
}

.popover {
    -fx-padding: 0 0 0 0;
}

.dropped .text {
    -fx-strikethrough: true;
}

/* #flowGrid {
    -fx-background-color: lightgray;
} */

.affRegion {
    -fx-fill: black;
}

.negRegion {
    -fx-fill: red;
}

.questionDecoration {
    -fx-background-color: lightgreen;
}