Box .label {

}

.speechSelected {
    -fx-border-width: 2;
    -fx-border-color: sandybrown;
}

.selectedRegion {
    -fx-background-color: lightblue !important;
}

.marked {
    -fx-background-color: yellow;
    -fx-border-color: black;
}

.dropped {
    -fx-strikethrough: true;
    /*-fx-background-color: gray;
    -fx-border-color: red;*/
}

.dropped .text {
    -fx-strikethrough: true;
}