
Box .label {

}

.speechSelected {
    -fx-border-width: 2;
    -fx-border-color: sandybrown;
}

.selectedFlowingRegion {
    -fx-background-color: dodgerblue;
}


.marked {
    -fx-background-color: yellow;
    -fx-border-color: black;
}