.notFilled {
    -fx-background-color: #f7fcff;
}

#promptBox {
    -fx-background-color: lightblue;
    -fx-padding: 5px;
}

.promptLabel {
    -fx-font-family: "Open Sans";
}

.text-field:focused {
    -fx-border-width: 3px;
    -fx-border-style: solid;
    -fx-border-color: #cccccc;
}